* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
}

$yellow: rgb(248, 248, 54);
$grey: grey;

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 35px 150px;
  .navlink ul {
    display: flex;
    gap: 20px;
    li {
      list-style: none;
      a {
        color: white;
        text-decoration: none;
      }
      a:hover {
        color: grey;
      }
    }
  }
  .btn-top {
    button {
      background-color: $yellow;
      padding: 10px 20px;
      margin-top: -8px;
      border: none;
    }
  }

  .toggle-button {
    display: none;
    position: absolute;
  }
}

.yellow-button {
  display: none;
  justify-content: center;
  button {
    background-color: $yellow;
    padding: 10px 20px;
    margin-top: -8px;
    border: none;
  }
}

@font-face {
  font-family: "inter";
  src: url(font/Inter-Regular.ttf);
}
@font-face {
  font-family: "prata";
  src: url(font/Prata-Regular.ttf);
}

header {
  margin: 50px 150px;
  width: 40%;
  h1 {
    font-family: prata;
  }
  p {
    font-family: sans-serif;
  }
}

.brands {
  display: flex;
  margin: 30px 150px;
  ul {
    display: flex;

    li {
      list-style: none;
      gap: 30px;
      margin-right: 82px;
    }
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    margin: 20px 10px;
    flex-direction: column;
    position: relative;
    .navlink {
      justify-content: center;
      ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
      }
      display: none;
    }
    .navlink.active {
      display: flex;
    }

    .btn-top {
      display: none;
      margin-top: 30px;
      align-self: center;
    }

    .toggle-button {
      display: flex;
      justify-self: end;
      position: absolute;
      right: 10px;
    }
  }
  .yellow-button {
    display: none;
  }
  .yellow-button.active {
    display: flex;
  }
  header {
    margin: 100px 30px;
    width: 90%;
  }
  .brands {
    margin: 20px;
    flex-direction: column;
    justify-content: center;
    ul {
      justify-content: center;
      // flex-direction: column;
      li {
        margin-right: 10px;
      }
    }
  }
}
