* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
}

$yellow: rgb(248, 248, 54);
$grey: grey;

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 35px 150px;
  .navlink ul {
    display: flex;
    gap: 20px;
    li {
      list-style: none;
      a {
        color: white;
        text-decoration: none;
      }
      a:hover {
        color: grey;
      }
    }
  }
  .btn-top {
    button {
      background-color: $yellow;
      padding: 10px 20px;
      margin-top: -8px;
      border: none;
    }
  }

  .toggle-button {
    display: none;
    position: absolute;
  }
}

.yellow-button {
  display: none;
  justify-content: center;
  button {
    background-color: $yellow;
    padding: 10px 20px;
    margin-top: -8px;
    border: none;
  }
}

@font-face {
  font-family: "inter";
  src: url(font/Inter-VariableFont_slnt\wght.ttf);
}
@font-face {
  font-family: "prata";
  src: url(font/Prata-Regular.ttf);
}

header {
  margin: 50px 150px;
  width: 40%;
  h1 {
    font-family: prata;
  }
  p {
    font-family: inter;
    margin-top: 10px;
  }
}

.brands {
  display: flex;
  margin: 50px 150px;
  ul {
    display: flex;

    li {
      list-style: none;
      gap: 30px;
      margin-right: 80px;
    }
  }
}

// article

article {
  display: flex;
  margin: 50px 150px;
  .article-1,
  .article-2 {
    margin-right: 70px;
    width: 100%;
    .img-art {
      width: 490px;
    }
    a {
      text-decoration: none;
      h1 {
        color: white;
        margin: 20px 0;
        font-family: prata;
      }
    }
    p {
      color: $grey;
      letter-spacing: 1px;
    }
  }
}

// article end

// main
main {
  background-color: rgb(26, 31, 36);
  .container {
    margin: 50px 150px;

    display: flex;
    div {
      margin: 60px 70px 60px 0;

      h1 {
        padding: 30px 0;
      }
      p {
        padding: 30px 0 30px;
        color: $grey;
        font-family: inter;
        letter-spacing: 1px;
      }
    }
  }
}

// last article
.last-article {
  margin: 0 150px;
  width: 450px;
  div {
    p {
      margin-top: 20px;
    }
    button {
      padding: 7px 20px;
      margin: 20px 0;
      background-color: $yellow;
      border: 0;
    }
  }
}

// footer
footer {
  background-color: rgb(26, 31, 36);
  height: 3.5rem;

  .bawah {
    margin: 30px 150px;
    display: flex;
    justify-content: space-between;

    div {
      font-family: prata;
      margin-top: 1rem;
    }
    ul {
      display: flex;
      margin-top: 15px;
      li {
        list-style: none;
        margin-left: 20px;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .navbar {
    margin: 20px 10px;
    flex-direction: column;
    position: relative;
    .navlink {
      justify-content: center;
      ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
      }
      display: none;
    }
    .navlink.active {
      display: flex;
    }

    .btn-top {
      display: none;
      margin-top: 30px;
      align-self: center;
    }

    .toggle-button {
      display: flex;
      justify-self: end;
      position: absolute;
      right: 10px;
    }
  }
  .yellow-button {
    display: none;
  }
  .yellow-button.active {
    display: flex;
  }
  header {
    margin: 100px 30px;
    width: 90%;
  }
  .brands {
    margin: 20px;
    flex-direction: column;
    justify-content: center;
    ul {
      margin-top: 10px;
      justify-content: center;
      // flex-direction: column;
      li {
        margin-right: 10px;
      }
    }
  }
  // article
  article {
    flex-direction: column;
    margin: 50px 20px;
    .article-1,
    .article-2 {
      .img-art {
        width: 450px;
      }
      p {
        margin-bottom: 30px;
      }
    }
  }
  // main
  main {
    .container {
      flex-direction: column;
      margin: 10px;

      div {
        margin: 10px;
        h1,
        p {
          padding: 30px 0;
        }
      }
    }
  }
  //last article
  .last-article {
    margin: 60px 20px;
  }
  footer {
    .bawah {
      margin: 20px;
      .social-media {
        margin-top: -2px;
      }
    }
  }
}
