* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 35px 150px;
}
.navbar .navlink ul {
  display: flex;
  gap: 20px;
}
.navbar .navlink ul li {
  list-style: none;
}
.navbar .navlink ul li a {
  color: white;
  text-decoration: none;
}
.navbar .navlink ul li a:hover {
  color: grey;
}
.navbar .btn-top button {
  background-color: rgb(248, 248, 54);
  padding: 10px 20px;
  margin-top: -8px;
  border: none;
}
.navbar .toggle-button {
  display: none;
  position: absolute;
}

.yellow-button {
  display: none;
  justify-content: center;
}
.yellow-button button {
  background-color: rgb(248, 248, 54);
  padding: 10px 20px;
  margin-top: -8px;
  border: none;
}

@font-face {
  font-family: "inter";
  src: url(font/Inter-VariableFont_slntwght.ttf);
}
@font-face {
  font-family: "prata";
  src: url(font/Prata-Regular.ttf);
}
header {
  margin: 50px 150px;
  width: 40%;
}
header h1 {
  font-family: prata;
}
header p {
  font-family: inter;
  margin-top: 10px;
}

.brands {
  display: flex;
  margin: 50px 150px;
}
.brands ul {
  display: flex;
}
.brands ul li {
  list-style: none;
  gap: 30px;
  margin-right: 80px;
}

article {
  display: flex;
  margin: 50px 150px;
}
article .article-1,
article .article-2 {
  margin-right: 70px;
  width: 100%;
}
article .article-1 .img-art,
article .article-2 .img-art {
  width: 490px;
}
article .article-1 a,
article .article-2 a {
  text-decoration: none;
}
article .article-1 a h1,
article .article-2 a h1 {
  color: white;
  margin: 20px 0;
  font-family: prata;
}
article .article-1 p,
article .article-2 p {
  color: grey;
  letter-spacing: 1px;
}

main {
  background-color: rgb(26, 31, 36);
}
main .container {
  margin: 50px 150px;
  display: flex;
}
main .container div {
  margin: 60px 70px 60px 0;
}
main .container div h1 {
  padding: 30px 0;
}
main .container div p {
  padding: 30px 0 30px;
  color: grey;
  font-family: inter;
  letter-spacing: 1px;
}

.last-article {
  margin: 0 150px;
  width: 450px;
}
.last-article div p {
  margin-top: 20px;
}
.last-article div button {
  padding: 7px 20px;
  margin: 20px 0;
  background-color: rgb(248, 248, 54);
  border: 0;
}

footer {
  background-color: rgb(26, 31, 36);
  height: 3.5rem;
}
footer .bawah {
  margin: 30px 150px;
  display: flex;
  justify-content: space-between;
}
footer .bawah div {
  font-family: prata;
  margin-top: 1rem;
}
footer .bawah ul {
  display: flex;
  margin-top: 15px;
}
footer .bawah ul li {
  list-style: none;
  margin-left: 20px;
}

@media screen and (max-width: 576px) {
  .navbar {
    margin: 20px 10px;
    flex-direction: column;
    position: relative;
  }
  .navbar .navlink {
    justify-content: center;
    display: none;
  }
  .navbar .navlink ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .navbar .navlink.active {
    display: flex;
  }
  .navbar .btn-top {
    display: none;
    margin-top: 30px;
    align-self: center;
  }
  .navbar .toggle-button {
    display: flex;
    justify-self: end;
    position: absolute;
    right: 10px;
  }
  .yellow-button {
    display: none;
  }
  .yellow-button.active {
    display: flex;
  }
  header {
    margin: 100px 30px;
    width: 90%;
  }
  .brands {
    margin: 20px;
    flex-direction: column;
    justify-content: center;
  }
  .brands ul {
    margin-top: 10px;
    justify-content: center;
  }
  .brands ul li {
    margin-right: 10px;
  }
  article {
    flex-direction: column;
    margin: 50px 20px;
  }
  article .article-1 .img-art,
article .article-2 .img-art {
    width: 450px;
  }
  article .article-1 p,
article .article-2 p {
    margin-bottom: 30px;
  }
  main .container {
    flex-direction: column;
    margin: 10px;
  }
  main .container div {
    margin: 10px;
  }
  main .container div h1,
main .container div p {
    padding: 30px 0;
  }
  .last-article {
    margin: 60px 20px;
  }
  footer .bawah {
    margin: 20px;
  }
  footer .bawah .social-media {
    margin-top: -2px;
  }
}/*# sourceMappingURL=style.css.map */